<div>
    <div class="row">
        <div class="col-md-10 col-md-offset-2">
            <h2 data-translate="comments.home.title">Comments</h2>
            <jhi-alert></jhi-alert>
            <br/>
            <div>
                <form name="form" role="form" novalidate ng-submit="" show-validation>
                    <div class="row">
                        <div class="col-md-5">
                            <label for="subject" data-translate="comments.choose.subject">Choose Subject</label>
                            <select class="form-control" id="subject" data-translate="" ng-model="vm.subjects_of_current_user.name"
                                    ng-options="subjects as subjects.name for subjects in vm.subjects_of_current_user track by subjects.id"
                                    ng-change="vm.getTeachers(vm.subjects_of_current_user.name)">
                                <!--<option value=""></option>-->
                            </select>
                        </div>
                        <div class="col-md-5" has-authority="ROLE_STUDENT">
                            <label for="teacher" data-translate="comments.choose.teacher">Choose teacher</label>
                            <select class="form-control" id="teacher" data-translate="" ng-model="vm.teachers.id"
                                    ng-options="users as users.firstName +' '+ users.lastName for users in vm.teachers track by users.firstName">

                            </select>
                        </div>
                    </div>
                    <br/>
                    <div class="row" has-authority="ROLE_STUDENT">
                        <div class="col-md-10">
                            <label for="comment" data-translate="comments.writeyourComment">Write your comment</label>
                            <textarea id="comment" class="form-control" rows="8" ng-model="comment"></textarea>
                            <br/>
                            <button type="submit" ng-click="vm.sendComment(vm.subjects_of_current_user.name, vm.teachers.id, comment)" class="btn btn-primary" ng-disabled="form.$invalid">
                                <span class="glyphicon glyphicon-send"></span>
                                <span class="hidden-sm-down" data-translate="comments.submit">Submit</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
            <br/>
            <div has-authority="ROLE_TEACHER">
                <table class="jh-table table table-striped">
                    <thead>
                    <tr>
                        <th><span data-translate="comments.home.title">Comments</span></th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody infinite-scroll="vm.loadPage(vm.page + 1)" infinite-scroll-disabled="vm.page >= vm.links['last']">

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


